page-reset-password {
  .topSection {
    img {
      width: 80px;
    }
    p {
      font-size: 20px;
      margin: 5px 0px 30px 0px;
    }
  }
  .loginContainer {
    background-color: #ffffff;
    border-radius: 10px;

    ion-item {
      border-radius: 5px !important;
      background-color: color($colors, light) !important;
    }
  }
}
