page-request-money {
  ion-content {
    .inputTxt ion-item {
      border-radius: 5px !important;
      background-color: color($colors, light) !important;
    }

    ion-item {
      padding-left: 10px !important;
      margin-bottom: 10px !important;

      h5 {
        margin-top: 0px !important;
      }
    }
  }
}
